/* p{ */
    /* color: brown; */
/* } */
.p1{color: chocolate;}
.p2{color: aquamarine;}
#head1{ color: cornflowerblue;}
.heading1{color: black;}
h1{color: darkgreen;}
/* #head2{color: darkgoldenrod;} */